header {
    background-color: #ffffff;
    margin-left: 60px;
    max-width: 960px;
    min-width: 960px;
}


.headerSection {
    background-color: #ffffff;
    padding: 0px, 20px, 20px, 20px;
    top: 0;
    width: 100%;
    position: fixed;
    height: 80px;
    margin-bottom: 20px;
    border-bottom: 1px solid #cccccc;
}

/*This is the name at the top of the page */
h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    float: left;
    background-color: #4aaaa5;
    color: white;
    padding: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    position: relative;
    top: 0;
}

/*About me title on index*/
h2 {
    color: #4aaaa5;
    float: left;
    margin: auto;
}

/*Links that show on the right of every page. Embedded in the header*/
.navBar {
    float: right;
    overflow: auto;
    padding: 18px 16px;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-decoration: none;
}
      
li {
    float: right;
}
      
li a {
    display: block;
    padding: 8px;
    text-align: center;
}

li a:hover {
    background-color: gray;
}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    float: left;
    color: #777777;
}

.contactSection {
    padding: 20px;
    background-color: #ffffff;
    line-height: 1.6;
    top: 120px;
}

.content {
    border: 1px solid #dddddd;
    max-width: 960px;
    min-width: 960px;
    margin-top: 120px;
    margin-left: 60px;
}
.aboutMe {
    max-width: 960px;
    min-width: 960px;
    background-color: #ffffff;
    padding: 20px;
    line-height: 1.6;
    overflow: inherit;
}

/*Picture*/
#becca {
    display: inline;
    float: left;
    padding-left: 20px;
    padding: 20px;
    height: 200px;
    width: 180px;
    vertical-align: baseline;
}

/*Submit button*/
#submit {
    background-color: #4aaaa5;
    color: white;
    margin: 10px;
    padding: 10px;
    float: left;
}

/*Portfolio links on portfolio page*/
.portfolioLinks {
    max-width: 960px;
    min-width: 960px;
    padding: 20px;
    background-color: #ffffff;
}

#puppy {
    padding: 20px;
    height: 200px;
    width: 200px;
}

#tiger {
    padding: 20px;
    height: 200px;
    width: 200px;
}

#bird {
    padding: 20px;
    height: 200px;
    width: 200px;
}

#cow {
    padding: 20px;
    height: 200px;
    width: 200px;
}

#kangaroo {
    padding: 20px;
    height: 200px;
    width: 200px;
}